*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-list{
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    flex-basis: 50%;
    height: 50%;
}